@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  overflow-x: hidden;
  min-height: 100vh;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  /* background: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo {
  font-size: 2rem;
  color: white;
  user-select: none;
}
.nav-bar a {
  position: relative;
  font-size: 1.1em;
  color: white;
  font-weight: 600;
  text-decoration: none;
  margin-left: 20px;
  padding: 6px 15px;
  /* background: yellowgreen; */
  transition: .5s;
}
.nav-bar a:hover,
.nav-bar a.active {
  color: #2c2929;
}
.nav-bar a span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 30px;
  z-index: -1;
  transform: scale(0);
  opacity: 0;
  transition: .5s;
}
.nav-bar a:hover span,
.nav-bar a.active span {
  transform: scale(1);
  opacity: 1;
}
.parallax {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("img/background.png") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
#text {
  position: absolute;
  font-size: 5rem;
  color: #352f5d;
  text-shadow: 2px 4px 5px white;
}
.parallax img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}
.parallax img#gate-left {
  position: fixed;
  transform: translateX(-282px);
}
.parallax img#gate-right {
  position: fixed;
  transform: translateX(305px);
}
.sec {
  position: relative;
  background: black;
  padding: 30px 100px;
}
.sec h2 {
  font-size: 3em;
  color: white;
  margin-bottom: 10px;
}
.sec p {
  font-size: 1em;
  color: white;
  font-weight: 400;
  text-align: justify;
}
